# Dependensi
node_modules/

# File Environment / Konfigurasi Sensitif
.env
.env.local

# Build / Output Folder
dist/
build/

# Log Files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS Files khusus yang kadang tercipta di Linux
.DS_Store
Thumbs.db
